crewai
crewai-tools
python-dotenv
requests
tkinterdnd2
langchain-community
beautifulsoup4
pypdf
ebooklib
chromadb
langchain-chroma
rank_bm25
sentence-transformers
unstructured
mobi
pymupdf
pymupdf-fonts
playwright>=1.40.0